# Blacklist all
/**

# Whitelist allowed
!/kube-apply-env
!/README.md
!/.gitignore

!/config/
!/config/00-load-config.sh
!/config/10-general.template.sh
!/config/20-components.template.sh
!/config/30-services.template.sh

!/install/
!/install/components
!/install/components/Cert-manager.yml
!/install/components/Hetzner.yml
!/install/components/Longhorn.yml
!/install/components/MetalLB.yml

!/install/components/Traefik/
!/install/components/Traefik/00-crd.yml
!/install/components/Traefik/01-config.yml
!/install/components/Traefik/02-services.yml
!/install/components/Traefik/03-deployment.yml
!/install/components/Traefik/04-api.yml
!/install/components/Traefik/05-ping.yml
!/install/components/Traefik/06-whoami_example.yml

!/install/scripts/
!/install/scripts/10-base-install.sh
!/install/scripts/20-install-master.sh
!/install/scripts/21-kubeadm-conf.yml
!/install/scripts/22-install-worker.sh

!/services/
!/services/Guacamole/
!/services/Guacamole/10-setup.sh
!/services/Guacamole/20-namespace.yml
!/services/Guacamole/30-storage.yml
!/services/Guacamole/40-database.yml
!/services/Guacamole/50-backend.yml
!/services/Guacamole/60-frontend.yml
!/services/Guacamole/70-ingress.yml
!/services/Guacamole/80-ssh-tunnel.yml

!/services/Home Dashboard/
!/services/Home Dashboard/10-setup.sh
!/services/Home Dashboard/20-namespace.yml
!/services/Home Dashboard/30-storage.yml
!/services/Home Dashboard/40-influxdb.yml
!/services/Home Dashboard/50-grafana.yml
!/services/Home Dashboard/60-ingress-influxdb.yml
!/services/Home Dashboard/61-ingress-grafana.yml

!/services/Home Dashboard/dashboards/
!/services/Home Dashboard/dashboards/Monitor Temp.json

!/services/IMAP Alerter/
!/services/IMAP Alerter/10-setup.sh
!/services/IMAP Alerter/20-namespace.yml
!/services/IMAP Alerter/30-storage.yml
!/services/IMAP Alerter/40-deploy.yml

!/services/IMAP Save attachments (ISA)/
!/services/IMAP Save attachments (ISA)/10-setup.sh
!/services/IMAP Save attachments (ISA)/20-namespace.yml
!/services/IMAP Save attachments (ISA)/30-deploy.yml

!/services/Nextcloud/
!/services/Nextcloud/10-setup.sh
!/services/Nextcloud/20-namespace.yml
!/services/Nextcloud/30-storage.yml
!/services/Nextcloud/40-mariadb.yml
!/services/Nextcloud/50-nextcloud.yml
!/services/Nextcloud/60-ingress.yml
!/services/Nextcloud/70-nextcloud-cron.yml

!/services/OpenVPN/
!/services/OpenVPN/10-setup.sh
!/services/OpenVPN/20-namespace.yml
!/services/OpenVPN/30-deploy.yml
